 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="division"><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>With over 7 years of experience in web development, working on several projects which complexity ranged from innovations within small hotsites to large scale sports news websites. I have a passion for architecting applications and lately I’ve been focused on javascript development using NodeJS.</p>
                </div>
                <div class="col-lg-4">
                    <p>Above all, I’m known as a motivated, very focused and team oriented IT professional.
                    Degree in Computer Systems Analyst from Estácio de Sá University and also took Master lessons on business management at Getúlio Vargas Foundation</p>
                </div>
            </div>
        </div>
    </section>
