 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="division"><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>With over 10 years of hands-on experience in development and working on several projects which complexity ranged from innovations within small hotsites to large scale sports news websites. My passion is to innovate and move things to the next level.Above all, with an excellent communication skills, I can liaise effectively with both clients and work colleagues.</p>
                </div>
                <div class="col-lg-4">
                    <p>A strong decision maker with an ability to work as part of a team or individually, fast task switcher, prioritize, and work to deadlines under pressure.<br/><br/>
                    Degree in Computer Systems Analyst from Estácio de Sá University<br/>Master lessons on Business Management at Getúlio Vargas Foundation<br/>
                    Currently specializing in Cybersecurity and Forensics at Valencia College
                    </p>
                </div>
            </div>
        </div>
    </section>
