    <!-- Header -->
    <header class="bg-blur">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <img class="profile-logo" src="img/logo-1.svg" alt="{{ site.title }}" onerror="this.onerror=null; this.src='img/logo.png'" />
                    <div class="intro-text">
                        <span class="name">{{ site.name }}</span>
                        <hr class="division">
                        <span class="skills">{{ site.title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
